@{
    ViewData["Title"] = "Оператор";
}

    <div class="container">
        <div class="row justify-content-center mt-4">
            <div id="call_talon" class="col-7 rounded-lg border border-primary mb-2 text-center">
                <h1><b>ОПЕРАТОР</b></h1>
            </div>

            <div id="served" class="col-7 rounded-lg border border-primary mb-2 text-center" style="height: 300px; font-size: 50pt;">
                <b>Вызван талон под номером</b><br><b id="servedNomer">1</b>
            </div>

            <div class="row col-7">

                <div class="col rounded-lg border border-primary ml-2">Клиентов: </div>
                <div class="col rounded-lg border border-primary ml-2">Обслужено: </div>
                <div id="t_wait" class="col rounded-lg border border-primary ml-2">Ожидают: <b id="talonCount"></b></div>

            </div>

            <div class="row col-7 mt-4">
                <div class="col text-center"><button id="callButton" type="button" class="btn btn-primary" style="width: 200px">Вызов</button></div>

                <div class="col text-center"><button id="nextButton" type="button" class="btn btn-success" style="width: 200px">Следующий</button></div>
            </div>

        </div>

    </div>    


    

        <script src="js/signalr/dist/browser/signalr.min.js"></script>
        <script>
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();
            let connectionId = "";
            document.getElementById("nextButton")
                .addEventListener("click", function (e) {
                    e.preventDefault();

                    const data = new FormData();
                    data.append("connectionId", connectionId);

                    fetch("operator/next", {
                        method: "POST",
                        body: data
                    })
                        .catch(error => console.error("Error: ", error));
                });
            //Вызов талона
            document.getElementById("callButton")
                .addEventListener("click", function (e) {
                    e.preventDefault();

                    const data = new FormData();
                    data.append("connectionId", connectionId);

                    fetch("operator/call", {
                        method: "POST",
                        body: data
                    })
                        .catch(error => console.error("Error: ", error));
                });

            // получение сообщения количество неослуженных
            hubConnection.on("TalonCount", function (message) {

                // меняет сообщения
                let elem = document.getElementById("talonCount").textContent = message;
                document.getElementById("t_wait").appendChild(elem);

            });

            // получение: Обслуживается талон
            hubConnection.on("CallTalon", function (message) {

                // меняет сообщения
                let elem = document.getElementById("servedNomer").textContent = message;
                document.getElementById("served").appendChild(elem);

            });


            hubConnection.start().then(() => {
                // после соединения получаем id подключения
                console.log(hubConnection.connectionId);
                connectionId = hubConnection.connectionId;
            });
        </script>


